@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400,700&display=swap');
/*
font-family: 'Red Hat Text', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    
    /* animation: Down .6s .9s ease-out both;
    transition: top .6s ease-out; */
}
html {
    /* scroll-snap-points-y: repeat(100vh); */
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth;
    will-change: contents;
}

body{
    font-family: 'Red Hat Text';
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
   
}
/* .great-container{
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
}
.section {
    scroll-snap-align: start;
    flex-flow: column;
  } */
/* .active {background-color: transparent!important;} */
h1{
    font-size: 28px;
}

h2{
    font-size: 28px;
}
h3{
    font-size: 20px;
}

p{
    font-size: 18px;
}
li{
    list-style: none;
}
.container_hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 20;
    transition-delay: .2s;
}
section{
    width: 100vw;
    height: auto;
    border-bottom: 2px solid rgb(243, 243, 243);
}
section:nth-child(2n){
    /* background-color: red; */
    /* padding: 50px 0; */

}

.container_hero.moveContainer{
    z-index: 5;
}

.hero {
    width: 100%;
    height: 73vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../images/im1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    -webkit-box-shadow: inset 4px 10px 112px 23px rgba(0,0,0,1);
    -moz-box-shadow: inset 4px 10px 112px 23px rgba(0,0,0,1);
    box-shadow: inset 4px 10px 112px 23px rgba(0,0,0,1);
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    transition: 1s;
    will-change: transform;
}
.hero img{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.hero__text{
    align-self: flex-start;
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 2em;
    left: 2em;
    font-family: 'Red Hat Text', sans-serif;
    
}

.hero__text-title{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.hero__text-subtitle{
    font-size: 14px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.hero__text-center{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.hero__description{
    width: 100vw;
    height: 27vh;
    position: relative;
    /* bottom: 4%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    overflow: hidden;
    animation-timing-function: ease-out;
    transform: translate(0, 0);
    transition: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translate(0, 0);
    -webkit-transition: 1s;
    will-change: transform;
}
.hero__description p{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    padding: 0 15em;
}

/* .hero.moveHero{
    transform: translateY(-100vh);
} */
/* .hero__description.moveDescription{
    transform: translateY(100vh);
} */

.button_slides_contain{
    position: fixed;
    width: 9px;
    height: 100%;
    right: 1em;
    z-index: 999999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button_slides_contain a {
    width: 9px;
    height: 9px;
    background-color: rgb(88, 235, 3);
    border: .2px solid black;
    margin: 10px 0;
}




.container-arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* margin-top: -2em; */
}

.arrow {
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-top: 0;
    border-left: 0;
    margin-top: 5px;
    animation: bounce 2s .6s infinite;
    transform: rotate(45deg);
    -webkit-animation: bounce 2s .6s infinite;
    -webkit-transform: rotate(45deg);
    will-change: transform rotate;
}

.sqrt { 
    width: 5px;
    height: 5px;
    background: #000;
    animation: bounceSqrt 2s .6s infinite;
    -webkit-animation: bounceSqrt 2s .6s infinite;
    will-change: transform;
}

@keyframes bounce {
    0%{
        transform:  translateY(1px) rotate(45deg);	
    }
    10%{
        transform: translateY(-5px) rotate(45deg);
    }
    25%{
        transform: translateY(15px) rotate(45deg);
    }
    40%{
        transform: translateY(10px) rotate(45deg);
    }
    45%{
        transform: translateY(15px) rotate(45deg);
    }
    80%{
        transform: translateY(0px) rotate(45deg);
    }
}

@keyframes bounceSqrt {
    0%{
        transform:  translateY(1px);	
    }
    10%{
        transform: translateY(-5px);
    }
    25%{
        transform: translateY(15px);
    }
    40%{
        transform: translateY(10px);
    }
    45%{
        transform: translateY(15px);
    }
    80%{
        transform: translateY(0px);
    }
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}

.nav{
    width: 45px;
    height: 45px;
    color: #000000;
    position: absolute;
    right: 8%;
    top: 5%;
    /* border-radius: 4px; */
    cursor: pointer;
    z-index: 10000000;   
    overflow: hidden;
    transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28); 
}

#nav_movil{display: none;}


.translate{
    /* display: none; */
}
.nav_desktop{
    opacity: 1;
    width: 45px;
    height: 45px;
    background-color: white;
    position: fixed;
    right: 5%;
    top: 5%;
    visibility: visible;
    z-index: 10000000;   
    overflow: hidden;
    transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28); 
}

.nav__menu {
    position: relative;
    opacity: 0;
    display: none;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    position: relative;
    padding: 0 5px;
    transition: .2s ease-out;
    left: 10px;
    overflow: hidden;
    align-items: center;
}

.nav_desktop:hover{
    transform: scaleY(1.05);
}
.list_text:hover {
    opacity: .6;
    transform: scale(1.1);
}
.menu{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: relative;
    top: 3%;
    left: 0;
    align-items: center;
    overflow: hidden;
    will-change: contents;
    transition: .5s;
}

.submenu{    
    font-family: 'Roboto', sans-serif;
    color: black;
    position: absolute;
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    top: 0;
    left: 0;
    background-color: white;
    text-transform: uppercase;
    overflow: hidden;    
    transition: .2s .3s ease-out;
    transform: translateX(0vw);
    -webkit-transition: .2s .3s ease-out;
    /* -webkit-transform: translateX(-100vw); */
    will-change: transform;
}

.submenu.moveSubmenu{
    transform: translateX(0);
    transition-timing-function: ease-out;
}

.list a {
    cursor: pointer;
    color: black;
    text-decoration: none;    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* font-size: 40px; */
    transition: .2s ease-in-out;
    text-align: center;
}

.list_text{
    text-decoration: none;
    color: black;
    font-size: 48px;
}

/* .list_text a:focus{
    transform: scale(1.5);
} */

.list_text a:focus, a:active{
    color: grey;
}

.translate{
    /* font-size: 30px; */
    /* font-weight: bold; */
    font-family: 'Roboto', sans-serif;
   /* color: black; */
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    bottom: 5%;
    right: 5%;
    transition: .4s .1s;
    will-change: transform;
}
.translate.moveTranslate{
    transform: translateY(0);
    transition-timing-function: ease-in-out;
}
.nav_translate a{
    cursor: pointer;
}

.translate h2{
    padding: 0 10px;
}
/* .post_mark{
    grid-column-start: 2;
    grid-column-end: 4;
    border: 1px solid gray;
} */
/* .product_body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    right: -100vw; 
    top: 0;
    position: absolute;
} */
.header_fixed {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: .5s ease-in;
}


.header_fixed ul{
    display: inherit;
}

.header_fixed ul li {
    padding: 0 30px;
}
.header_fixed ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.about_container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% auto repeat(3, 1fr) 10%;
    grid-template-rows: repeat(6, 1fr);
    /* column-gap: 5px; */
    font-family: 'Red Hat Text', sans-serif;
    /* column-gap: 1em; */
    position: relative;
}

#about_title-movil{display: none;}

.section_title{
    grid-row: 1 / 7;
    grid-column: 1 span;
    place-self: center;
    transform: rotateZ(-90deg);
}
/* .about_title .title{
    display: inline-block;
    width: 220px;
} */
.about_img{
    grid-row: 2 / 6;
    grid-column: 2 / 3;
    place-self: end;
    /* background-image: url(../images/foto.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; */
}
.about_img_text{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    margin-top: 10px;
    place-self: center left;
}
.about_img_text img{
    width: 10px;
}

.section_title .title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #A6A6A6;
    display: inline-block;
    width: 220px;
}
.section_title .subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
}

.about_img_text p{
    font-size: 12px;
    font-family: 'Red Hat Text', sans-serif;
}
.text-center{
    grid-row: 4 / 6;
    grid-column: 3 / 4;
    place-self: flex-end;
    padding: 0 1em;
}
.text-center p {
    padding: 10px 0;
    margin: 0;
    font-size: 12px;
}
.about_skills{
    grid-row: 2 / 6;
    grid-column: 4 / 6;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}
.about_skills-item{
    /* padding-bottom: 3em; */
}
.about_skills p{
    font-size: 12px;
}
.about_langues{
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}

.product_container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns:  10% 40% 40% 10%;
    /* grid-template-rows: repeat(1, 1fr); */
    /* font-family: 'Red Hat Text', sans-serif; */
    /* column-gap: .5em; */
    justify-content: center;
    align-items: center;
    column-gap: 15px;

}

.column-a{
    /* display: flex; */
    flex-direction: column;
    padding-right: .5em;
}

.product_container .section_title {
    grid-row: 1 / 10;
    grid-column: 1 span;
    place-self: center;
    transform: rotateZ(-90deg);
}

/* .product-card{
    grid-row: 1 / 6;
    grid-column: 2 / 4
} */
.producto_img{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
 /* {
    background-image: url(../images/Img4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
} */

/* #product1{
    width: 550px;
    height: 522px;
    background-image: url('../images/Img-1.jpg');
}

#product2{
    width: 547px;
    height: 547px;
    background-image: url('../images/img-5.jpg');
}
#product3{
    width: 426px;
    height: 270px;
    background-image: url('../images/Img-8.jpg');
}
#product4{
    width: 426px;
    height: 422px;
    background-image: url('../images/Img 9.jpg');
}
#product5{
    width: 426px;
    height: 281px;
    background-image: url('../images/Group\ 8.jpg');
} */

.art-dir_img p{
    font-size: 12px;
    font-family: 'Red Hat Text', sans-serif;
    padding: 5px 0;
}

.product_img-legend p, .column-b span, .column-b p, .column-c p, .column-c span{
    font-size: 12px;
    font-family: 'Red Hat Text', sans-serif;
    padding: 5px 0;
}
.web-design_container{
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.column-b{
    grid-column: 2 / 4;
    padding: 5px 0;
}
.product_img img{
    width: 100%;
    height: 100%;
}
.column-b img{
    width: 100%;
    height: 720px;
}
.art-dir_container{
    display: grid;
    grid-template-columns: 10% 25% 1fr 10%;
    grid-template-rows: repeat(2, 1fr);
}

.art-dir_img{
    grid-row: 1 / 3;
    place-self: center;
    padding-right: 1em;
}

.column-c{
    grid-column: 3 / 4;
    padding: 5px 0;
}

.column-c img, .art-dir_img img{
    width: 100%;
    height: auto;
}


.youtube-player {position: relative;padding-bottom:56.23%;height:0;overflow:hidden;max-width:100%;background:#000;margin:8px 0 8px 0;}
.youtube-player iframe {position:absolute;top: 0;left:0;width:100%;height:100%;z-index:100;background: transparent;}
.youtube-player img {bottom:0;display:block;left:0;margin:auto;max-width:100%;width:100%;position:absolute;right:0;top: 0;border:none;height:auto;cursor:pointer;-webkit-transition: .4s all;-moz-transition: .4s all;transition: .4s all;}
.youtube-player img:hover {-webkit-filter:brightness(75%);}
.youtube-player .play {height:72px;width:72px;left:50%;top:50%;margin-left:-36px;margin-top:-36px;position:absolute;background: url("//i.imgur.com/TxzC70f.png") no-repeat;}



/* .producto_img2{
    grid-row: 7 / 10;
    grid-column: 2 / 4;
    background-image: url(../images/img-5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product_img-legend2{
    grid-row: 10 / 11;
    grid-column: 3 / 5;
}

.product_img-legend2 p, .product_img-legend3 p, .product_img-legend4 p{
    font-size: 12px;
    font-family: 'Red Hat Text', sans-serif;
    padding: 5px 0;
}
.producto_img3{
    grid-row: 1 / 4;
    grid-column: 6 / 8;
    background-image: url(../images/img-5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.product_img-legend3{
    grid-row: 10 / 11;
    grid-column: 3 / 5;
}

.producto_img4{
    rid-row: 6 / 10;
    grid-column: 3 / 5;
    background-image: url(../images/img-5.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    background-repeat: no-repeat;
}
.product_img-legend4{
    grid-row: 10 / 11;
    grid-column: 3 / 5;
}
 */

/* #product.productIn {
    animation-name: productIn, rotateProduct;
    transform: rotate(0deg);
    animation-duration: 1s, 1.5s, 1s;
    animation-delay: .2s, 3s, 4.1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: productIn, rotateProduct;
    -webkit-transform: rotate(0deg);
    -webkit-animation-duration: 1s, 1.5s, 1s;
    -webkit-animation-delay: .2s, 3s, 4.1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
} */

.product{
    grid-area: product;
    font-size: 40px;
    /* margin-bottom: 40%; */
    position: relative;
    opacity: 1;
    right: 0;
    top: 0;
    z-index: 10;
    text-align: center;
    
   }

/* .animateTitleStart {
    animation-name: productIn, rotateProduct;
    transform: rotate(0deg);
    animation-duration: 1s, 1.5s;
    animation-delay: .2s, 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: productIn, rotateProduct;
    -webkit-transform: rotate(0deg);
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
} */

/* .product.productIn.rotateProduct.testOut{
   
} */

@keyframes productIn {
    0%{
        margin-bottom: 5%;
        font-size: 40px;
    }
    100% {
        margin-bottom: 10px;
        font-size: 50px;
    }
}

@keyframes rotateProduct {
    0%{
        transform: rotate(0deg);
        right: 0;
        top: 0;
        font-size: 50px;
    } 
    100% {
        transform: rotate(-90deg);
        right: 92vh;
        display: block;
        top: 12vw;
        letter-spacing: 1.8px;
        font-size: 40px;
    }
}


.discover{
    color: #b8b8b8;
    grid-area: discover;
    justify-self: end;
    align-self: flex-start;
    position: relative;
    left: -100vw;
    font-size: 4rem;
    animation: test, testOut;
    animation-duration: 2s, .5s;
    animation-delay: 0s, 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards, forwards;
    -webkit-animation: test, testOut;
    -webkit-animation-duration: 2s, .5s;
    -webkit-animation-delay: 0s, 2.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards, forwards;
}
.idea{
    color: #b8b8b8;
    grid-area: idea;
    justify-self: end;
    align-self: end;
    font-size: 4rem;
    position: relative;
    right: -100vw;
    animation: idea, testOut;
    animation-duration: 2s, .5s;
    animation-delay: 0s, 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards, forwards;
    -webkit-animation: idea, testOut;
    -webkit-animation-duration: 2s, .5s;
    -webkit-animation-delay: 0s, 2.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards, forwards;
    will-change: auto;
}
@keyframes idea {
    0%{
        right: -100vw;;
    }
    100% {
        right: 0vw;
    }
}

.test{
    color: #b8b8b8;
    grid-area: test;
    justify-self: end;
    align-self: flex-end;
    font-size: 2.2rem;
    position: relative;
    left: -100vw;
    animation-name: test, testOut;
    animation-duration: 2s, .5s;
    animation-delay: 0s, 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-name: test, testOut;
    -webkit-animation-duration: 2s, .5s;
    -webkit-animation-delay: 0s, 2.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards, forwards;
    will-change: auto;
}
@keyframes test {
    0%{
        left: -100vw;
    }
    100% {
        left: 0vw;
    }
     
}
@keyframes testOut {
    0%{
        opacity: 1;

    }
    100% {
        opacity: 0;
      }
     
}

.define{
    color: #b8b8b8;
    grid-area: define;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    align-self: baseline;
    position: relative;
    overflow: hidden;
    bottom: -100%;
    font-size: 4rem;
    animation: define, testOut;
    animation-duration: 2s, .5s;
    animation-delay: 0s, 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards, forwards;
    -webkit-animation: define, testOut;
    -webkit-animation-duration: 2s, .5s;
    -webkit-animation-delay: 0s, 2.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards, forwards;
}
@keyframes define {
    0%{
        bottom: -100%;
    }
    100% {
        bottom: 27%;
    }
}
.prototype{
    color: #b8b8b8;
    grid-area: prototype;
    transform: rotate(-90deg);
    transform-origin: top left;
    display: block;
    top: -100%;
    position: relative;
    font-size: 3rem;    
    animation: prototype, testOut;
    animation-duration: 2s, .5s;
    animation-delay: 0s, 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards, forwards;
    -webkit-animation: prototype, testOut;
    -webkit-animation-duration: 2s, .5s;
    -webkit-animation-delay: 0s, 2.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards, forwards;
    will-change: transform;
}
@keyframes prototype {
    0%{
        bottom: -100%;
    }
    100% {
        top: 30%;
    }
}


.product_transition_container p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


.grid_container {
    width: 98vw;
    height: inherit;
    display: none;
    grid-template-columns: 10% 3fr 7fr;
    top: 12vh;
    align-items: center;
    position: fixed;
    z-index: 100000000000;
    opacity: 0;
    animation: containerIn 1s 3s ease forwards;
    -webkit-animation: containerIn 1s 3s ease forwards;
}
@keyframes containerIn {
    0%  {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.post_content{
    width: 80%;
    display: grid;
    width: 98%;
    height: 100%;
    display: flex;
    /* margin-right: 5%; */
    border: 1px solid #B6B6B6;
    grid-column-start: 4;
    /* grid-column-end: 9; */
    /* grid-row-start: 2;
    grid-row-end: 6; */
    background-color: #F1F1F1;
    align-items: center;
}

.post_title {
    display: block;
    line-height: .8;
    transform: rotate(-90deg);
    transform-origin: center center;
    position: relative;
    top: 30%;
    left: 20%;
    width: 100%;
    height: auto;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-row-start: 1;
    /* grid-row-end: 2; */
}
.post_title p{
    padding: 2px 0px;
    width: max-content;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.post_text{
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6; */
    /* background-color: tomato; */
    padding: 50px;
    /* height: 500px; */
    width: 30%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.post_text--content{
    padding: 25px;
}

.post_text--content h3{
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.post_text--content p {
    font-size: 12px;
    /* font-weight: regular; */
    font-family: 'Red Hat Text', sans-serif;
}
.info span img {
    width: 12px;
}

.post_title_text{
    text-decoration: none;
    color: black;
}

.info{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    left: 50%;
    height: 15%;
    width: 50%;
    font-style: italic;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
}

.post_image{
    /* background-color: violet; */
    padding: 20px;
    width: 100%;
    height: 500px;
    display: inherit;
    width: 70%;
    height: auto;
}

.post_image img{
    width: 100%;
    float: right;
    right: -5%;
}
.post_image--dot{
    text-align: center;
    bottom: -10px;
    position: absolute;
    width: 100%;
}

.product_container-arrow{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 1%;
    /* z-index: 1; */
    /* height: 100px; */
    grid-column-start: 1;
    grid-column-end: 9;
    /* grid-row-start: 6;
    grid-row-end: 7; */
}

.mySlides {
    display: none}
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {

  width: 100%;
  position: relative;
  margin: auto;
}

.container_dots{
    width: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    right: 0em;
    z-index: 100;
    overflow: hidden;
}


.model-dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: black;
    border: .5px solid #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: .5em 0;
    transition: .1s ease-in;
}

.container_dots ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* width: 80px; */
    align-items: center
}

.dots-text div{
    border-bottom: .5px solid black;
    width: 70%;
    font-size: 10px;
    color: rgb(0, 0, 0);
    transition: .9s;
    opacity: 0;
    visibility: hidden;
    /* position: absolute; */
    /* transform: translateX(70px); */
}


.container_dots ul li a:hover > div{
    visibility: visible;
    opacity: 1; 
}
.model-dot:hover, .model-dot:active, .model-dot:focus {
    transform: scale(1.3); 
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 1px blue;
}
.active {
  background-color: rgba(255, 255, 255, 0.986);
  border: .5px solid black;
  transform: scale(1.1);
}

/* .model-dot .container_dots ul li .active > div{
    visibility: visible;
    opacity: 1; 
}
 */
/* .container_dots ul li a[href$="#branding"] > span {
    transform: scale(1.1) rotate(-45deg); 
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
.container_dots ul li a[href$="#about"] > span {
    transform: scale(1.1) rotate(-45deg); 
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  } */


/* a[href$="#branding"] > span {
    transform: scale(1.1) rotate(-45deg); 
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
a[href$="#about"] > span {
    transform: scale(1.1) rotate(-45deg); 
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  } */


#branding::target span {
    transform: scale(1.1) rotate(-45deg); 
    box-shadow: 0px 0px 2px 1px #c70101;
  }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fadeIn{
    opacity: 1;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



