@media only screen and (max-width: 1024px) {
   
    .hero__description p {
        padding: 0px 10em;
    }
}

@media only screen and (max-width: 768px) {

.hero__description p {
    padding: 0px 5em;
}
.text-center {
    padding: 0 .5em;
}
.about_skills {
    padding: 0 .5em;
}
    
}