/* HASTA 1024PX DE ANCHO */
@media (max-width: 1024px) {
   
    .hero__description p {
        padding: 0px 10em;
    }
}


/* DESDE 768PX EN ADELANTE DE ANCHO*/
@media screen and (min-width: 768px)  {

.hero__description p {
    padding: 0px 5em;
}
.text-center {
    padding: 0 .5em;
}
.about_skills {
    padding: 0 .5em;
}

#hero_subtitle-movil{display:none}
.container_dots{display: fixed;}

}


/* HASTA 768 PX DE ANCHO */
@media screen and (max-width: 768px) {
    .hero__description p {
        padding: 0px 1em;
        font-size: 15px;
    }
    .hero__text-subtitle {
        font-size: 15px;
        text-align: left;
    }


    
#hero_subtitle-movil{display:block}    
#hero_subtitle-desk{display:none}   
.container_dots{display: none;}
header {visibility: hidden;}


    }



    @media screen and (max-width: 768px) {
    .hero__description p {
        padding: 0px 1em;
        font-size: 15px;
    }
    .hero__text-subtitle {
        font-size: 15px;
        text-align: left;
    }


    
#hero_subtitle-movil{display:block}    
#hero_subtitle-desk{display:none}   
.container_dots{display: none;}
header {visibility: hidden;}


    }


@media screen and (max-width: 426px) {
    .about_container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}