/* HASTA 1024PX DE ANCHO */
@media (max-width: 1024px) {
   
    .hero__description p {
        padding: 0px 10em;
    }
}


/* DESDE 768PX EN ADELANTE DE ANCHO*/
@media screen and (min-width: 768px)  {

.hero__description p {
    padding: 0px 5em;
}
.text-center {
    padding: 0 .5em;
}
.about_skills {
    padding: 0 .5em;
}

#hero_subtitle-movil{display:none}
.container_dots{display: fixed;}

}


/* HASTA 768 PX DE ANCHO */
@media screen and (max-width: 768px) {
    .hero__description p {
        padding: 0px 1em;
        font-size: 15px;
    }
    .hero__text-subtitle {
        font-size: 15px;
        text-align: left;
    }

#hero_subtitle-movil{display:block}    
#hero_subtitle-desk{display:none}   
.container_dots{display: none;}
header {visibility: hidden;}

.hero{
    height: 65vh;
}
.hero__description{
    height: 35vh;
}
#nav_desktop{opacity: 0;}
#nav_movil{display: block;}
#hero_subtitle-movil{display:block}    
#hero_subtitle-desk{display:none}   
.container_dots{display: none;}
header {visibility: hidden;}


.about_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 3em 1em 3em;
}
#about_title-desk{display: none;}
#about_title-movil{
    display: flex;
    place-self: flex-start;
    
}
#about_title-movil .title{
    font-size: 24px;
    font-weight: bold;
    color: black;
    top: -5em;
    right: 1em;
    position: relative;

}
#about_title-movil p, .about_skills p{
    margin: 1em 0;
}
.about_img_text{
    place-self: center;
} 
.list a {
    font-size: 36px;
}
.product_container{
    display: flex;
    flex-direction: column;
}
.product_container .section_title, #web-design .section_title, #motion .section_title, #ArtDirector .section_title{
    transform: rotateZ(0deg);
}
#product3, #product4, #product7, #product9{display: none;}

.about_img{
    place-self: auto; 
}
.column-a {
    padding-right: 0;
}
.product_img-legend p, .column-b span, .column-b p, .column-c p, .column-c span {
    padding: 5px 2em;
}
#branding .section_title, #product .section_title, #web-design .section_title, #motion .section_title, #ArtDirector .section_title{
        background-color: white;
        width: 100vw;
        height: 114px;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
}
#motion .section_title{
    position: relative;
}

.web-design_container, .art-dir_container {
    display: flex;
    flex-direction: column;
}

.art-dir_img{
    padding: 0;
}

.art-dir_img p {
    padding: 5px 2em;
}

.hero__text {
    left: 1em;
}
.hero__text-title {
    font-size: 21px;
}
.nav_desktop {
    width: 40px;
    height: 40px;
}
.section_title .subtitle{
    margin-left: 1em;
}


    }

@media screen and (max-width: 426px) {
    #webImgDesk-1, #webImgDesk-2, #webImgDesk-3{
        display: none;
    }
    #webImgMovil-1, #webImgMovil-2 {display: block;}
    #footer p{
        font-size: 11px;
    }
    #motion{
        height: 100vh;
    }

}